/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*===================================================*/

/*  CSS MODELO PARA PROJETO LINKTREE */

body{
    color: white; 
    background-image: url("img/B01.jpg");
    background-repeat:round;
    /*background-position: 100%;*/
    font-family: 'Mulish', sans-serif;
}

.container{
    margin: auto;
    justify-content: center;
    max-width: 700px;
}

.porfile{
    text-align: center;
    margin-top: 40px;
}

.logo{
    width: 140px;
    margin-bottom: 20px;
}

h1{
    font-family: 'Montserrat', sans-serif;   
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-shadow: rgb(0, 48, 87) 0px 1px 0px;
}
    
h3{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-bottom: 35px;
}

p{
    margin: 10px;
    line-height: 20px;
    text-align: justify;
}

/*==== LISTA =========================================*/

.link-list{   
    list-style: none;
}

.link-list li{
    margin: 20px 20px;  
}

.link-list li a{
    display: block;
    background: rgb(255,255,255);
    background: linear-gradient(-120deg, rgba(255,255,255,0.65) 10%, rgba(255,255,255,1) 100%);
    padding: 15px  30px;
    border-radius: 25px;
    text-decoration: none;
    color: #304779;
    text-shadow: rgb(0, 95, 173) 0px 0.5px 0px;
    font-weight: bolder;
    font-size: 18px;
}

/*-- Destaque mouse -------------------------

.link-list li a:hover{
    background:  rgba(255, 1, 1, 0.603);
    color: white;
    text-shadow: rgb(0, 0, 0) 0px 0.5px 0px;    
}
----------------------------------------------*/
.link-list li a span{
    color: rgb(0, 48, 87);
    display: block;
    margin-top: 10px;
    color: #000;
    text-shadow: none;
    font-weight: bold;
    font-size: 16px;
}

/*=======================================================*/

.video{
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 230px;
}

/*========================================================*/

footer{
    bottom: 0;  
    position: static;
    width: 100%;
    height: 30px;
    font-size: 12px; 
    font-family: 'Roboto', sans-serif;
    text-align: center;    
    margin-top: 80px;
    margin-bottom: 30px;
    color: white;
} 

/*===========================================================*/

/* This code is generated by: https://webdesign-assistant.com */
@import url('https://fonts.googleapis.com/css?family=Oxygen');

#button{
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    font-family: 'Roboto' sans-serif;
    background: linear-gradient(to bottom, #5A86FF, #335AD0);
    border-radius: 25px;
    padding:15px;
    margin-top: 25px;
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right:auto;
    text-align: center; 
    text-shadow: 0px 1px 2px #000000;
    -webkit-transition: all 0.19s ease;
    -moz-transition: all 0.19s ease;
    -o-transition: all 0.19s ease;
    transition: all 0.19s ease;
}

#button:hover{
    font-weight: bolder;
    opacity: 0.9;
    background: linear-gradient(to bottom, #5A86FF, #335AD0);
    box-shadow: 0px 1px 2px #000000;
}
